ul {
    margin: 0;
    padding: 0;
}

li {
    display: inline-block;
    text-align: center;
    height: 2em;
    line-height: 2em;
    list-style: none;
    background-color: #10a0f5;
    color: #b6e4ff;
    cursor: default;
}

li.ui-active {
    color: white;
}

div.ui-line {
    height: 2px;
    background-color: #ff3e85;
    position: relative;
    top: -2px;
    left: 0;
    transition: left 1s cubic-bezier(0.23, 1, 0.32, 1) 0ms;
}