@import 'variables';
@import 'animation';

.ui-tabs {
    font-family: 'Helvetica Neue', Roboto, "microsoft yahei", sans-serif;
}

.ui-tabs {
    ul {
        margin: 0;
        padding: 0;
        height: 3em;
        line-height: 3em;

        li {
            display: inline-block;
            height: 100%;
            text-align: center;
            list-style: none;
            background-color: $color1;
            color: $color1-light;
            cursor: default;
        }

        li.ui-active {
            color: white;
        }
    }

    div.ui-line {
        height: 2px;
        background-color: $color2;
        position: relative;
        top: -2px;
        left: 0;
        transition: left 1s $ease 0ms;
    }
}

.ui-ripple {
    position: relative;
    overflow: hidden;
}

.ui-ripple-fx {
    position: absolute;
    pointer-events: none;
    background-color: white;
    width: 10px;
    height: 10px;
    opacity: 0;
    border-radius: 50%;
    animation: 3s spread $ease;
}
