@import 'variables';
@import 'animation';

.ui-widget {
    font-family: 'Helvetica Neue', Roboto, "microsoft yahei", sans-serif;
}

.ui-tabs {
    ul {
        margin: 0;
        padding: 0;
        height: 2.5em;
        line-height: 2.5em;

        li {
            display: inline-block;
            height: 100%;
            text-align: center;
            list-style: none;
            background-color: $color1;
            color: $color1-light;
            cursor: default;
            transition: background-color 1s $ease;
        }

        li.ui-active {
            color: white;
            background-color: $color1-hover;
        }

        li:hover {
            background-color: $color1-hover;
        }
    }

    div.ui-line {
        height: 2px;
        background-color: $color2;
        position: relative;
        top: -2px;
        left: 0;
        transition: left 1s $ease, width 1s $ease;
    }
}

.ui-ripple {
    position: relative;
    overflow: hidden;
}

.ui-ripple-fx {
    position: absolute;
    pointer-events: none;
    background-color: white;
    width: 10px;
    height: 10px;
    opacity: 0;
    border-radius: 50%;
    animation: 3s spread $ease;
}

.ui-button {
    .ui-ripple {
        padding: 0.5em;
    }
    cursor: default;
    display: inline-block;
    color: white;
    background-color: $color1;
    transition: background-color 1s $ease;
}
.ui-button:hover {
    background-color: $color1-hover;
}
